@import "tailwindcss";

:root {
  --bgMenu: #130021;
  --primary: #ee2143;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.primary-button {
  padding: 1rem 2rem;
  border-radius: 0.5rem;

  color: white;
  width: 100%;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.page-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.table-action-button {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.table-action-button span {
  color: var(--primary);
}
